APP_NAME=SimpleStockFlow
APP_ENV=local
APP_KEY=base64:d1R45m6qF8b2v9P3x1z7k0L4y8j2m6qF8b2v9P3x1z4=
APP_DEBUG=true
APP_TIMEZONE=UTC
APP_URL=http://localhost:8000

LOG_CHANNEL=stack
LOG_LEVEL=debug

DB_CONNECTION=mysql
DB_HOST=db
DB_PORT=3306
DB_DATABASE=stockflow
DB_USERNAME=stockflow
DB_PASSWORD=secret

JWT_SIGNING_KEY=simple-stock-flow-jwt-super-secret-key-minimum-32-bytes
ADMIN_USERNAME=admin
ADMIN_PASSWORD=Admin123456*

